<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dateFormat" class="java.text.SimpleDateFormat">
		<constructor-arg value="yyyy-MM-dd" />
	</bean>

	<bean name="defaultUserBean" class="com.cnblogs.yjmyzz.dto.UserInfo">
		<property name="userName" value="匿名"></property>
		<property name="salary" value="1000.00"></property>
		<property name="vip" value="false"></property>
		<property name="id" value="-1"></property>
		<property name="birthday">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="1985-06-01" />
			</bean>
		</property>
	</bean>

</beans>
